<!DOCTYPE html>
<html>
  <head>
    <title>BooklubWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-white">
    <% if signed_in? %>
      <%= render partial: '/layouts/navbar', locals: { } %>
    <% end %>
    <main class="container mx-auto flex flex-col bg-white">
      <main class="container mx-auto mt-5 px-5 flex">
        <%= yield %>
      </main>
    </body>
  </html>
